.avatar-container{
    position: relative;
    width: 440px;
    height: 440px;
    overflow: hidden;
    margin: 0 auto;
}

.avatar-component{
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.pet-component{
    position: absolute;
    width: 290;
    height: 84;
    rotate: -20deg;
    left: -60px;
}

.avatar-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }